################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/ATS-PN/.vs/ATS-PN/v16/Browse.VC.opendb
